name: Build Tsmart Pro EXE

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build with PyInstaller
      run: |
        # تضمين مجلدات mtkclient و unisoc داخل ملف الـ EXE
        pyinstaller --onefile --noconfirm --windowed --add-data "mtkclient;mtkclient" --add-data "unisoc;unisoc" --name "Tsmart_Pro_Tool" main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Tsmart_Pro_EXE
        path: dist/Tsmart_Pro_Tool.exe
